$for(include-before)$ $include-before$ $endfor$ 
$if(title)$
<div class="post-header">
  <h1 class="title">$title$</h1>
$if(subtitle)$
  <p class="subtitle">$subtitle$</p>
$endif$
$for(author)$
  <p class="author">$author$</p>
$endfor$
$if(date)$
  <p class="date">$date$</p>
$endif$
$for(tags)$
  <p class="tags">$tags$</p>
$endfor$
</div>
$endif$ 

$if(toc)$
  <nav id="$idprefix$TOC">$table-of-contents$</nav>
$endif$

<div class="post-body">
$body$ 
</div>


$for(include-after)$ $include-after$ $endfor$
